{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Erin Fough's Page</title>
    <link rel="stylesheet" type="text/css" href={% static 'mypage/index.css' %}>
</head>
<body>
  <!-- nav -->
  <nav>
    <a href={% url 'bio' %}>Bio</a>
    <a href={% url 'projects' %}>Projects</a>
    <a href="">Links <em>(forthcoming)</em></a>
    <a href="">Random <em>(forthcoming)</em></a>
  </nav>
  <!-- /nav -->
  <!-- main -->
  <div>
    <!-- barleft -->
    <div class="sidebar-l">
      <img id="headshot" alt="" src={% static 'mypage/argoNme.jpg'%}>
    </div>
    <!-- /barleft -->
    <!-- barright -->
    <div class="sidebar-r">
      <h1>Erin L. Fough</h1>
      <h2>
        <p id="l-1">Perceptive</p>
        <p id="l-2">Lover</p>
        <p id="l-3">of</p>
        <p id="l-4">Ordered</p>
        <p id="l-5">Disorder</p>
      </h2>

    </div>
    <!-- /barright -->
  </div>
  <!-- /main -->
  <!-- footer -->
  <footer>
    <a href="https://www.linkedin.com/in/erin-l-fough">LinkedIn</a>
    <a href="https://github.com/shedwyn">Github</a>
  </footer>
  <!-- /footer -->

</body>
