{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Erin Fough's Page</title>
    <link rel="stylesheet" type="text/css" href={% static 'mypage/projects.css' %}>
</head>
<body>
  <!-- nav -->
  <nav>
    <a href={% url 'index_page' %}>Home</a>
    <a href={% url 'bio' %}>Bio</a>
    <a href="">Links <em>(forthcoming)</em></a>
    <a href="">Random <em>(forthcoming)</em></a>
  </nav>
  <!-- /nav -->
  <div>
    <h1>
      Under Construction
    </h1>
    <img alt="" src={% static 'mypage/Bernice.jpg'%}>
    <h2>
      Please visit me on <a href="https://www.linkedin.com/in/erin-l-fough">LinkedIn</a>
      or visit my code repositories on <b>Github</b> below:
    </h2>
    <div>
      <a href="https://github.com/shedwyn/bias-tracker">Inclusion Measure</a>
      <p>
        Tool for User to track incidents where s/he felt included or excluded.  Django
        project written in Python 3 with jQuery, Javascript, HTML5 and Twitter's Bootstrap
        on the frontend.
      </p>
    </div>
    <div>
      <a href="https://github.com/shedwyn/codeguild/tree/master/js_html_css/mole">Whack-a-"Mole" Game</a>
      <p>
        Much like the carnival game.  All in Javascript and jQuery with HTML5 and CSS.
      </p>
    </div>
    <div>
      <a href="https://github.com/shedwyn/codeguild">PDX Code Guild Course</a>
      <p>
        All code from PDX Code Guild Course.  Python, HTML5, Javascript, jQuery,
        CSS, Django.
      </p>
    </div>
  </div>
</body>
